.input-chat {
    background-color: #CFD8DC;
    color: #424242;
    font-weight: bold;
    width: 100%;
    height: 100%;
    padding: 0 1em;
    border: none;
    border-radius: .75em;
    outline: none;
    transition: all .25s ease;
}

.input-chat:hover, .input-chat:focus {
    background-color: #b0c8d4;
}

.input-chat::placeholder {
    color: #777777;
}